<nav class="navbar is-fixed-top is-size-4">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/img/swfact-long.png" alt="Long format of the SWFACT logo">
    </a>
    <a role="button" class="navbar-burger burger" data-target="navbar" aria-label="menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
    
  <div class="navbar-menu" id="navMenu">
    <a class="navbar-item" href="/">
      Home
    </a>
    <a class="navbar-item" href="/aims">
      Aims
    </a>
    <a class="navbar-item" href="/constitution">
      Constitution
    </a>
    <a class="navbar-item" href="/membership">
      Membership
    </a>
    <a class="navbar-item" href="/voting">
      Voting
    </a>
    <a class="navbar-item" href="/lotto">
      59ers
    </a>
  </div>
</nav>